################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ZayadaShop/ZayadaShop/.vs/ZayadaShop/v17
/ZayadaShop/ZayadaShop/.vs/ZayadaShop/FileContentIndex
/ZayadaShop/ZayadaShop/src/AuctionService/bin/Debug/net8.0
/ZayadaShop/ZayadaShop/src/AuctionService/obj
*.log
/ZayadaShop/ZayadaShop/.vs/ZayadaShop/config
/ZayadaShop/ZayadaShop/.vs/ProjectEvaluation
/ZayadaShop/ZayadaShop/.vs/ProjectEvaluation/zayadashop.metadata.v7.bin
/ZayadaShop/ZayadaShop/.vs/ProjectEvaluation/zayadashop.projects.v7.bin
/ZayadaShop/ZayadaShop/.vs/ZayadaShop/DesignTimeBuild
/ZayadaShop/ZayadaShop/.vs/ZayadaShop/DesignTimeBuild/.dtbcache.v2
